body {
    background-image: url("karen-penroz-06ZTGDcAQFs-unsplash.jpg");
    background-size: cover;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-weight: bold;
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    /* font-family: 'Mooli', sans-serif; */
}

#main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    margin: 50px auto;
    padding: 30px 40px;
    background-color: #CE6D8B;
    max-width: 50%;
    border-radius: 15px;
    -webkit-box-shadow: 0px 8px 19px 11px rgba(179,100,125,0.3);
    -moz-box-shadow: 0px 8px 19px 11px rgba(179,100,125,0.3);
    box-shadow: 0px 8px 19px 11px rgba(179,100,125,0.3);
    border: #CE2D4F 5px solid;
}

#header {
    grid-column-start: 1;
    grid-column-end: 5;
}

#left {
    grid-column-start: 1;
    grid-column-end: 3;
    align-items: center;
}

#rowCount {
    background-color: #bfb3a8;
    border-radius: 10px;
    color: #012b47;
    width: 50%;
    margin: 0 auto;
    padding: 15px 15px;
}

#middle {
    display: contents;
    grid-column-start: 3;
}

#right {
    grid-column-start: 1;
    grid-column-end: four;
    align-self: start;
    padding-top: 30px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 15px 10px;
    font-size: 26px;
    background-color: #012b47;
    border-radius: 10px;
    color: #fff;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 25px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    border-radius: 100px;
    height: 110px;
    width: 110px;
}

#increment-btn {
    background: #004263;
    grid-column-start: 3;
    border: solid 1px #000;
}

#increment-btn:hover {
    background-color: #04618f;
    border: solid 1px #fff;
    color: #fff;
}

#save-btn {
    background: #e48400;
    grid-column-start: 4;
    border: solid 1.5px #000;
}

#save-btn:hover {
    background-color: #e69729;
    border: solid 1.5px #fff;
    color: #fff;
}

